@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e9d8c4;
}

.headBox {
  width: 100%;
  min-height: 40vh;
  background: linear-gradient(120deg, rgb(88, 118, 156) 40%, transparent 30%) center center/100% 100%, url(../img/seaWave.jpg) center center/cover;
}
.headBox .headBoxTxt {
  width: 95%;
  min-height: 40vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #f0e4d6;
}
.headBox .headBoxTxt h1 {
  border-bottom: 3px solid #f0e4d6;
}

.container {
  min-height: 40vh;
}

footer .mainfooter {
  background-color: rgba(92, 119, 156, 0.7882352941);
  color: #f0e4d6;
  text-align: center;
  padding: 10px 20px;
}
footer .copyright {
  background-color: #415a7a;
  color: #f0e4d6;
  text-align: center;
  padding: 5px 0;
}

/* RWD部分 */
@media screen and (max-width: 550px) {
  .headBox {
    background: linear-gradient(120deg, rgb(88, 118, 156) 60%, transparent 30%) center center/100% 100%, url(../img/seaWave.jpg) center center/70%;
  }
  .headBox .headBoxTxt {
    margin: 0 0.5rem;
  }
  .headBox .headBoxTxt p {
    font-size: 0.6rem;
    line-height: 0.6rem;
  }
}