* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9d8c4;
}

.headBox {
  width: 100%;
  min-height: 40vh;
  background:
    linear-gradient(120deg, rgb(88, 118, 156) 40%, transparent 30%) center center / 100% 100%,
    url(../img/seaWave.jpg) center center / cover;

  .headBoxTxt {
    width: 95%;
    min-height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #f0e4d6;

    h1 {
      border-bottom: 3px solid #f0e4d6;
    }
  }
}

.container{
  min-height: 40vh;
}

footer {
  .mainfooter {
    background-color: #5c779cc9;
    color: #f0e4d6;
    text-align: center;
    padding: 10px 20px;
  }

  .copyright {
    background-color: #415a7a;
    color: #f0e4d6;
    text-align: center;
    padding: 5px 0;
  }
}

/* RWD部分 */
@media screen and (max-width:550px) {
  .headBox {
    background:
      linear-gradient(120deg, rgb(88, 118, 156) 60%, transparent 30%) center center / 100% 100%,
      url(../img/seaWave.jpg) center center / 70%;

    .headBoxTxt {
      margin: 0 0.5rem;
      p {
        font-size: 0.6rem;
        line-height: .6rem;
      }
    }
  }
}